<div class="account-wall">
    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
        alt=""/>
    <form class="form-signin" #f="ngForm" (ngSubmit)="loginUser(f)">
    <input type="text" class="form-control" ngModel name="loginText" required autofocus>
    <input type="password" class="form-control" ngModel  name="passwordText" required>
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
   </form>
  </div>